body{
 background-color: #282e36;
}

table {
	top:300px;
	border-collapse: collapse;
}

th,td {
    padding: 10px;
    text-align: center;
	border: 1px solid #E64406 ;
}
th {
    background-color: #69efef;
}
td {
    background-color: #FFFFFF;
}

.header{
	background-color: #282e36;
	top:0px;
	position:fixed;
	height: 50px;
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}

.header1{
	background-color: #282e36;
	top:300px;
	position:fixed;
	height: 50SSpx;
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}

h2{
color: #E64406;
}